html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title='Date el gusto'
        link(rel="stylesheet", href="./style.css")
    body
        header
            nav
                ul(class="list-item")
                    li 
                        a(href="/productos")='Productos'
                    li
                        a(href="/form")='Formulario'

        h1='Ingrese un producto:'
        div(class="main__form")
            form(action="/productos" method="POST")
                div(class="input")
                    label(for="Title" class="input-label")='Title'
                    input(type="text" id="Title" name="title" class="input-field")
                div(class="input")
                    label(for="Price" class="input-label")='Price'
                    input(type="text" id="Price" name="price" class="input-field")
                div(class="input")
                    label(for="URL" class="input-label")='URL'
                    input(type="text" id="URL" name="thumbnail" class="input-field")
                input(type="submit" class="action-button")

        footer
            p="Date el gusto"
            p="Contactate con nosotros: dateelgusto@gmail.com"

